html,
body,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
}

.novel-window {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 18px;
  line-height: 1.5;
  font-family: '游明朝体', 'Noto Serif JP', serif;
  word-break: break-all;
}

.letter-dash {
  text-orientation: mixed;
  padding: 0;
  display: inline-block;
  color: #000000;
  background-position: center center;
  background-size: 87.5% 1px;
  background-repeat: no-repeat;
  text-decoration: none;
}

p.descriptive {
  text-indent: 1em;
  margin: 0;
}

p.conversation {
  margin: 0;
}

h4 {
  text-indent: 1em;
  padding-right: 1em;
  padding-left: 1em;
  margin: 0;
}